service: serverless-cloudwatch-slack-alerts

frameworkVersion: ">=1.1.0 <2.0.0"

plugins:
  - serverless-webpack
  - serverless-offline

provider:
  name: aws
  runtime: nodejs6.10
  memorySize: 256
  timeout: 60
  versionFunctions: false
  environment:
    SLACK_WEB_HOOK:

functions:

  alert:
    handler: handler.alert
    events:
      - http:
          path: /
          method: get
          integration: lambda
          cors:
            origins:
              - '*'

custom:
  serverless-offline:
    port: 3020
    babelOptions:
      presets: ["es2015"]
  webpackIncludeModules:
    packagePath: './package.json'
